{% extends 'base.html' %}
{% load tz %}
{% block content %}

<h2>Статистика</h2>

{% if user.is_superuser %}


<p>
    Количество заказов:
    {{ total_orders }}
</p>

<p>
    Средняя стоимость:
    {{ avg_price }}
</p>

<p>
    Максимальная стоимость:
    {{ max_price }}
</p>

<p>
    Медианная стоимость:
    {{ median_price }}
</p>

{% if popular_cargo %}

<p>
    Популярный тип груза:
    {{ popular_cargo.cargo_type__name }}
</p>

{% endif %}

<hr>

<h3>Время</h3>

<p>
    Локальая таймзона:
    {{ local_time|date:"d/m/Y H:i" }}

    Таймзона сервера:
    {{ server_timezone }}
</p>

<p>
    UTC:
    {{ utc_time|utc|date:"d/m/Y H:i" }}
</p>

<hr>

<h3>Календарь</h3>

<pre>
{{ current_calendar }}
</pre>

<hr>

<h3>График заказов</h3>

<img src="/media/charts/orders_chart.png">

{% endif %}

{% endblock %}